*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#main-title{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    margin: 0 0.7rem 0.7rem 0.7rem;
    
}

.london-view-images{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    margin:0 0.7rem 0.7rem 0.7rem;
    margin


}