*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFF5EE;
}

#main-title{
    background-color: #FFF5EE;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    margin: 0 0.7rem 0.7rem 0.7rem;
    
}
.subtitle{
    text-align: left;
}

.london-view-images{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    margin:0 0.7rem 0.7rem 0.7rem;
  
}

.spese{
    margin: 0 0.7rem 0.7rem 0.7rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.price-table{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);

}

.price{
    font-weight: 700;
}

.to-do-list{
    margin: 0 0.7rem 0.7rem 0.7rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);


}

.to-do-list ul{
    padding: 0 16px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.now{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4); ;
    width: 385px;
}

.shadow-list{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    width: 500px;
    

}

.box-info{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    padding: 0 ;
    margin: 0 0.7rem 0.7rem 0.7rem;

}

.box-info h3{
    
    text-align: left;
    
}

.box-info ol{
    list-style-position: inside;
  
}

.utility-list{
    margin-left: 25px;
}

.foto{
    padding: 0 ;
    margin: 0 0.7rem 0.7rem 0.7rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.images-container{
  display: inline-block;       
  padding: 10px;               
  background: #fff;            
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);

}